  <!-- </main>
  <footer>
  <% include user-menu.ejs %>
  </footer>
  <noscript>
    <style>
      input#search {
        display: none;
      }
    </style>
  </noscript>
  <script type="module" src="js/script.js"></script>
  </body>
</html> -->

</main>
<footer>
   <nav>
      <ul>
         <li><a href=""><img src="images/bundels-non.svg" alt="Mijn Bundels">Mijn Bundels</a></li>
         <li><a href="/downloads"><img src="images/download.svg" alt="Downloads">Downloads <span data-display="counter"></span></a></li>
         <li><a href="/#zoeken"><img src="images/zoek.svg" alt="Zoeken">Zoeken</a></li>
         <li><a><img src="images/gebruiker-non.svg" alt="Mijn Profiel">Profiel</a></li>
      </ul>
   </nav>
   <nav>
      <h2>Categorieën</h2>
      <ul>
         <li><a href="">Beleving (17)</a></li>
         <li><a href="">Taal (17)</a></li>
         <li><a href="#zoeken">Dichtvorm (16)</a></li>
         <li><a href="">Bekende Personen (15)</a></li>
         <li><a href="">Fantasie (9)</a></li>
         <li><a href="">Tijd (8)</a></li>
         <li><a href="">Humor (7)</a></li>
         <li><a href="">Gesprekken (6)</a></li>
         <li><a href="">Beperking (4)</a></li>
      </ul>
   </nav>
</footer>
<script type="text/javascript" src="js/script.js"></script>
<script src="js/jquery.js"></script>
</body>

</html>