<% include components/head.ejs %>
<section id="register">
  <form action="/register" method="post">
    <%if(errors){%>
    <ul class="errors">
      <h2>Your input is not valid yet. We provided a list of possible problems.</h2>
      <%errors.forEach((elem)=>{%>
      <li><%= elem.msg_%></li>
      <%})%>
    </ul>
    <%}%>
  
    <fieldset>
        <legend>Create a new user</legend>
        <label for="firstName">First Name</label>
        <input id="firstName" name="firstName" type="text" required placeholder="Enter your first name here">
        <label for="lastName">Last Name</label>
        <input id="lastName" name="lastName" type="text" required placeholder="Enter your last name here">
        <label for="emailaddress">Emailaddress</label>
        <input id="emailaddress" name="emailaddress" type="email" required placeholder="Enter your e-mailadress here">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required placeholder="Enter a password here">
      <button id="submit-band" type="submit">Update your profile</button>
   </fieldset>
  </form>
</section>
<% include components/footer.ejs %>